zip_files/*
dependency_layer/python/*
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.idea/
Personal.iml
config.json
venv/
lambda_code/config.py
